/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about-div
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    top: 400px;
    left: 20vw;
}

.about-div .about-grid-1
{
    display: -ms-grid;
    display: grid;
    color: white;
    -ms-grid-columns: 550px;
    grid-template-columns: repeat(2, 550px);
    -ms-grid-rows: 400px;
    grid-template-rows: repeat(2, 400px);
}

.about-div .about-grid-1 > *:nth-child(1)
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.about-div .about-grid-1 > *:nth-child(2)
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.about-div .about-grid-1 > *:nth-child(3)
{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.about-div .about-grid-1 > *:nth-child(4)
{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.about-div .about-grid-1 > .grid-data-type-1
{
    width: 450px;
    height: 350px;
    -ms-grid-row: 1;
    grid-row: 1;
}

.about-div .about-grid-1 > .grid-data-type-1 > div:nth-child(1)
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    font-size: 25px;
    z-index: -1;
    height: 100px;
    width: 450px;
    background-color: white;
    color: black;
}
.about-div .about-grid-1 > .grid-data-type-1 > div:nth-child(2)
{
    position: relative;
    height: 225px;
    width: 425px;
    left: 12px;
    top: 50px;
    background-color: #1A2D4B;
    border: 1px white solid;
}

.about-data-div-type-1
{
    font-size: 18px;
    margin: 20px;
}

.about-div .grid-data-type-2
{
    width: 350px;
    height: 250px;
    -ms-grid-row: 2;
    grid-row: 2;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
}
.about-div .grid-data-type-2 > div:nth-child(1)
{
    font-size: 25px;
}
.about-div .grid-data-type-2 > div:nth-child(2)
{
    font-size: 20px;
    margin-top: 10px;
}

.about-div .about-grid-2
{
    grid-template-columns: repeat(3, 333px);
    grid-template-rows: repeat(2, 240px);
    display: -ms-grid;
    display: grid;
    color: white;
}

.about-div .about-grid-2 > *:nth-child(1)
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.about-div .about-grid-2 > *:nth-child(2)
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.about-div .about-grid-2 > *:nth-child(3)
{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.about-div .about-grid-2 > *:nth-child(4)
{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.about-div .about-grid-2 > *:nth-child(5)
{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.about-div .about-grid-2 > *:nth-child(6)
{
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.about-div .about-grid-2 > div
{
    border: 1px solid white;
    width: 300px;
    height: 190px;

    margin-right: 20px;
}
.about-div .about-grid-2 > div > div
{
    margin: 20px;
    font-size: 25px;
}

.about-div .about-grid-2 > div:nth-child(1)
{
    background-color: #856729;
}
.about-div .about-grid-2 > div:nth-child(3)
{
    background-color: #5A471C;
}
.about-div .about-grid-2 > div:nth-child(5)
{
    background-color: #fff;
    color: black;
}
.about-div .about-grid-2 > div:nth-child(2n + 2)
{
    background-color: #1A2D4B;
}

@media only screen and (max-width: 850px) {
    .about-div
    {
        top: 550px;
        left: 15vw;
    }

    .about-div .about-grid-1
    {
        grid-template-rows: repeat(4, 400px);
        grid-template-columns: none;
    }

    .about-div .about-grid-1 > *:nth-child(1)
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-1 > *:nth-child(2)
    {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-1 > *:nth-child(3)
    {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-1 > *:nth-child(4)
    {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .about-div .about-grid-1 > .grid-data-type-1
    {
        grid-row: auto;
    }

    .about-div .about-grid-2
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-template-rows: repeat(6, 250px);
        -ms-grid-columns: none;
        grid-template-columns: none;
    }

    .about-div .about-grid-2 > *:nth-child(1)
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-2 > *:nth-child(2)
    {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-2 > *:nth-child(3)
    {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-2 > *:nth-child(4)
    {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-2 > *:nth-child(5)
    {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .about-div .about-grid-2 > *:nth-child(6)
    {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
}