/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contact-div {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    top: 400px;
    left: 20vw;
}

.contact-div > div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: white;
    width: 1140px;
    height: 100px;
}

.contact-div > div:nth-child(1) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 35px;

    margin-left: 50px;
}

.contact-info-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 40px;

    width: 1140px;
    height: 450px;
    background-color: #1A2D4B;
}

.info-div {
    width: 600px;
    color: white;
}

.info-div > div {
    margin: 30px;
    font-size: 20px;
}

.form-div > .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-div > .contact-form > *
{
    margin-top: 20px;
    height: 45px;
    width: 500px;
    font-size: 22px;
}

.form-div > .contact-form > input[id=message]
{
    height: 150px;
    wrap-option: 1;
    word-wrap: break-word;
    word-break: break-all;
}
.form-div > .contact-form > input[id=send-button]
{
    width: 200px;
    height: 70px;
    background-color: #856729;
    color: white;
    cursor: pointer;

    -webkit-transition: 0.2s;

    -o-transition: 0.2s;

    transition: 0.2s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
.form-div > .contact-form > input[id=send-button]:hover
{
    background-color: #ad8024;
}

@media only screen and (max-width: 850px) {
    .contact-div {
        top: 600px;
        left: 15vw;
    }

    .contact-div > div:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        background-color: white;
        width: 500px;
        height: 100px;
    }

    .contact-info-div
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 500px;
        height: 600px;
    }
    .info-div {
        width: 500px;
        color: white;
        height: 200px;
    }

    .form-div > .contact-form > *
    {
        width: 400px;
        margin-left: 30px;
    }

    .form-div > .contact-form > input[id=message]
    {
        height: 125px;
    }
    .form-div > .contact-form > input[id=send-button]
    {
        width: 150px;
        height: 50px;
    }

}