/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.history-div {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    top: 400px;
    left: 30vw;
    width: 750px;
}

.history-div > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
}

.history-div > .topic-div {

    font-size: 35px;
    background-color: #856729;
    border: 1px #fff solid;
    height: 125px;
    z-index: 1;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.history-div > .blue-info-div {
    font-size: 20px;
    background-color: #1A2D4B;
    height: 2550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.history-div > .blue-info-div > div {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.history-div > .white-back-div {
    position: absolute;
    z-index: -1;
    height: 2650px;
    width: 800px;
    background-color: white;
    top: 35px;
    right: -25px;
}

@media only screen and (max-width: 850px) {
    .history-div {
        top: 500px;
        left: 10vw;
    }

    .history-div > .topic-div,
    .history-div > .blue-info-div {
        width: 500px;
    }
    .history-div > .blue-info-div {
        height: 3200px;
    }
    .history-div > .white-back-div {
        position: absolute;
        width: 550px;
        top: 60px;
        right: 225px;
        z-index: -1;
        height: 3290px;
    }
}