body {
    background: url("../img/bangkok-city.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: sans-serif;
}

.top-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100px;
    background-color: #374A6B;
    opacity: 90%;
}

.top-div > .top-div-text {
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    margin-right: 10vw;
    font-size: 30px;
    display: flex;
    color: white;
    width: 200px;
}

.top-div > .top-div-button {
    justify-content: center;
    align-items: center;
    font-size: 22px;
    display: flex;
    color: white;
    width: 150px;

    transition: 0.2s;
    transition-timing-function: linear;
}

.top-div > .top-div-button:hover {
    background-color: #1A2D4B;
    height: 120px;
}

.top-div > .current-page
{
    background-color: #1A2D4B;
    height: 120px;
}

.top-div a
{
    text-decoration: none;
    color: inherit;
}

@media screen
and (min-device-width: 850px){
    .top-div
    {
        height: 400px;
        flex-direction: column;
    }
    .top-div > .top-div-text {
        padding-left: 30vw;
    }
    .top-div > *
    {
        height: 70px;
        width: auto;
    }
    .top-div > .top-div-button
    {
        height: 70px;
        width: auto;
    }
    .top-div > .top-div-button:hover,
    .top-div > .current-page
    {
        background-color: #1A2D4B;
        height: 70px;
    }
}